{# product \App\Entity\Product #}
<div class="product_item col-md-6 col-lg-3 mb-4">
    <div class="card">

        {# product \App\Entity\Product #}
        <div class="m-3">
            {{ form_start(form, {'attr':{
                'hx-post': path('app_dashboard_edit',{'id': product.id}),
                'hx-target': 'closest .product_item',
                'hx-swap': 'outerHTML'
            }}) }}
                {{ form_widget(form) }}
                <button class="btn btn-primary" type="submit">{{ button_label|default('Save') }}</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>